body {
	margin: 0px;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
}

header {
	position: relative;
	text-align: center;
}


.parallax {
    /* The image used */
    background-image: url("img/mountains.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;`
 }


.name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 72px;
	line-height: 1;
	padding: 70px 50px;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

.border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 72px;
	line-height: 1;
	padding: 70px 50px;
	border-style: solid;
	border-image: linear-gradient(to right, #ffffff 0%, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff 100%);
	border-image-slice: 1;
	border-width: 0px 5px 5px 5px;
}


.icons {
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	color: white;
	font-size: 36px;
}

.icons a {
	text-decoration: none;
	color: white;
	margin: 15px;
}

.icons a:hover {
	color: #216F90;
}

.headings {
	position: absolute;
	top: 2%;
	right: 5%;
}

.headings ul {
	list-style-type: none;
}

.headings li {
	display: inline;
}

.headings li a {
	padding: 15px;
	color: #216F90;
	text-decoration: none;
	font-family: Montserrat;
	font-size: 18px;
}

.headings li a:hover {
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.homeribbon {
	position: fixed;
	z-index: 998;
	left: 10%;
	top: 0px;
	width: 80px;
	text-align: center;
}

.rectangle {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #216F90;
}

.homeribbon img {
	width: 90%;
	position: absolute;
	z-index: 999;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}

.triangles {
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-left: 40px solid #216F90;
	border-right: 40px solid #216F90;
	position: absolute;
	top: 100px;
	left: 0;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 0px 40px;
}

h1 {
	color: white;
	font-family: "Montserrat", Helvetica, sans-serif;

	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, transparent 0%, transparent 20%, white 50%, transparent 80%, transparent 100%);
	border-image-slice: 1;
	border-width: 0 0 1px 0;
	text-transform: uppercase;
	width: 100%;
}

/*
.aboutme {
	position: relative;
	top: 10px;
	max-width: 800px;
	padding-bottom: 50px;
}


.aboutme h1 {
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #216F90 0%, #216F90 50%, transparent 75%);
	border-image-slice: 1;
	border-width: 0 0 1px 0;
}

*/

.aboutme {
	padding-bottom: 20px;
}

.aboutmeheading h1 {
	color: #216F90;
	font-family: "Montserrat", Helvetica, sans-serif;
	margin-top: 50px;
	text-align: center;
	border: 1px solid transparent;
	border-image: linear-gradient(to right, transparent 0%, transparent 20%, #216F90 50%, transparent 80%, transparent 100%);
	border-image-slice: 1;
	border-width: 0 0 1px 0;
}

.photo {
	width: 25%;
	border-radius: 100%;
	float: left;
	margin-right: 5%;
}


.aboutme p {
	padding-top: 25px;
	padding-bottom: 25px;
}

.icons2 {
	width: 100%;
	text-align: center;
	color: #a6a6a6;
	font-size: 30px;
	margin-top: -25px;
	padding-bottom: 25px;
}

.icons2 a {
	text-decoration: none;
	color: #a6a6a6;
	margin: 15px;
}

.icons2 a:hover {
	color: #216F90;
}

.parallax2 {
    /* The image used */
    background-image: url("img/mountains.jpg");

    /* Set a specific height */
    min-height: 120px; 
 

    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display:flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.resume {
	max-width: 1000px;
	margin: auto;
	padding-bottom: 20px;
}

.resumecolumn {
    float: left;
    padding: 25px 20px; 
}

.left {
	width: 68%;
}

.right {
	width: 32%;
}

/* Clear floats after the columns */
.resumesection:after {
    content: "";
    display: table;
    clear: both;
}



/*
.experience h1 {
	text-align: right;
	border: 1px solid transparent;
	border-image: linear-gradient(to left, #216F90 0%, #216F90 50%, transparent 75%);
	border-image-slice: 1;
	border-width: 0 0 1px 0;
}
*/

.resume h2 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	border-bottom: 1.5px solid black;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: bold;
}

.resume h3 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	color: #216F90;
}

.resume h4 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

.resume ul {
	list-style-type: circle;
	margin-top: 0;
	margin-bottom: 10px;
}

.resumecolumn a {
	color: black;
}

.resume a:hover {
	color: #216F90;
	text-decoration: underline;
}

.resume p {
	margin-top: 0;
	margin-bottom: 10px;
}

#resumelink a {
	color: #a6a6a6;
	padding: 10px;
	border: 1px solid #a6a6a6;
	font-family: Montserrat;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}

#resumelink	a:hover {
	border: 1px solid #216F90;
	color: #216F90;
}


span {
	color: #216F90;
}



/*
.projects h1 {
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #216F90 0%, #216F90 50%, transparent 75%);
	border-image-slice: 1;
	border-width: 0 0 1px 0;
}

*/

.projects {
	padding: 30px 0px;
	max-width: 1000px;
	margin: auto;
}



* {
	box-sizing: border-box;
} 

.projectbox {
    float: left;
    width: 33.33%;
    padding: 10px; 
}

/* Clear floats after the columns */
.projects:after {
    content: "";
    display: table;
    clear: both;
}

.projectbox h2 {
	margin-bottom: 5px;
}

.projectbox p {
	margin-top: 0;
	text-align: center;
	font-style: italic;
}

.projecthover {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(33, 111, 144, 0.7);
	color: white;
	
}

.overlay p {
	font-size: 16px;
	margin: 0;
	padding: 3%;
	line-height: 1.15;
	font-style: normal;
}

.text {
	position: absolute;	
	top: 50%;
	transform: translate(0, -50%);	
}

.projecthover:hover .overlay {
  opacity: 1;
}

.projects h2 {
	font-family: Montserrat, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}

.projects h2 a {
	text-decoration: none;
	color: black;
}

.projects h2 a:hover {
	color: #216F90;
}

footer {
	position: relative;
	bottom: 0;
	color: white;
}

.parallax3 {
    /* The image used */
    background-image: url("img/mountains.jpg");

    /* Set a specific height */
    min-height: 200px; 
	display:flex;
	justify-content: center;
	align-items: center;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactinfo {
	text-align: left;
	display: block;
}

.contactinfo a {
	color: white;
	text-decoration: none;
}

.contactinfo a:hover {
	text-decoration: underline;
}
/*
@media screen and (min-width: 1261px) and (max-width: 1270px) {
	.border {
		width: 525px;
	}
}

@media screen and (min-width: 1250px) and (max-width: 1260px) {
	.border {
		width: 520px;
	}
}
*/
@media screen and (max-width: 800px) {

	.photodiv {
		width: 100%;
		text-align: center;
	}

	.photo {
		border-radius: 100%;
		width: 45%;
		float: none;
		margin: 0;
	}


	.aboutme p {
		padding-top: 0;
		padding-bottom: 20px;
		text-align: center;
	}

	.projectbox p {
		line-height: 1;
		font-size: 14px;
	}

	.resumecolumn {
		padding-top: 0;
		padding-bottom: 0px;
	}

	.left {
		width: 100%;
	}

	.right {
		width: 100%;
		padding-bottom: 20px;
	}

	#resumelink {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 600px) {
	.projectbox {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 20px;
	}

	.projectbox p {
		line-height: 1.15;
		font-size: 16px;
	}
}

@media only screen and (max-width: 450px) {
	.name {
		font-size: 56px;
		padding: 60px 35px;
		border-width: 4px;
	}

	.border {
		font-size: 56px;
		padding: 60px 35px;
		border: 4px solid transparent;
		border-image: linear-gradient(to right, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 80%, #ffffff 80%, #ffffff 100%);
		border-image-slice: 1;
		border-width: 0 0 4px 0;
	}

	.icons {
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: 43px;
		text-align: center;
		color: white;
		font-size: 28px;
	}

	.icons a {
		margin: 10px;
	}

	.headings {
		width: 100%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.headings ul {
		width: 100%;
		padding: 0;
	}


	.headings li {
		display: inline;
	}

	.headings li a {
		padding: 15px;
		font-size: 14px;
	}

	.projectbox {
		padding: 20px;
	}

}

@media only screen and (max-height: 400px) {
	.name {
		font-size: 56px;
		padding: 30px 50px;
		border-width: 4px;
	}

	.border {
		font-size: 56px;
		padding: 30px 50px;
		border: 4px solid transparent;
		border-image: linear-gradient(to right, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 80%, #ffffff 80%, #ffffff 100%);
		border-image-slice: 1;
		border-width: 0 0 4px 0;
	}

	.icons {
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: 15px;
		text-align: center;
		color: white;
		font-size: 28px;
	}

	.icons a {
		margin: 10;
	}

	.photo {
		border-radius: 100%;
		width: 45%;
		float: none;
		margin: 0;
	}
}

