#experience .ant-collapse {
  background-color: transparent;
}

#experience .ant-collapse-item .link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

#experience .ant-collapse-item {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-bottom: 24px;
}

#experience .ant-collapse-content {
  border-top: none;
}

#experience .ant-collapse-content-box {
  padding-top: 0;
}

#experience .ant-collapse-item ul {
  padding-left: 18px;
}