.App a {
  color: grey;
}

.App a:hover {
  color:#1890ff;
}

.ant-dropdown-menu {
  box-shadow: none !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  text-align: right;
  padding-right: 3px;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
  background-color: transparent !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover a {
  color: #40a9ff;
}

.overlay {
  box-shadow: none;
}

.App .hamburger {
  position: fixed;
  top: 36px;
  right: 36px;
}

.App .nav {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  font-size: 16px;
}

.App .nav a {
  margin: 0 12px;
}

#about, #experience {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding: 0 16px;
}

#projects{
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;
  padding: 0 16px;
}

#about h1, #experience h1, #projects h1 {
  color: grey;
  font-size: 28px;
  text-align: left;
  margin: 48px 0;
  text-transform: uppercase;
}

.icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons .icon {
  margin: 0 12px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  max-width: 1000px; 
  margin: auto;
}

.bottom-bar .icons {
  width: auto;
}

.bottom-bar .icons .icon {
  height: 16px;
  margin: 0 4px;
}
